extends layout 

block content 
  h1=category.name
  p=category.description

  h5 #{category.name}'s
  ul 
    each surfboard in surfboards
      li 
        a(href=surfboard.url) #{surfboard.name}

  p
    a(href='/inventory/categories/' + category._id + '/update') Update category
  p
    a(href='/inventory/categories/' + category._id + '/delete') Delete category
  p
    a(href='/inventory/categories') Back to categories